# Web Scraping Using Beautiful Soup

In [1]:
#Import Packages

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from urllib.request import urlopen #open url
from bs4 import BeautifulSoup

In [2]:
#specify the URL containing the dataset and pass it to urlopen() to get the html of the page.

url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M" #assign the URL
html = urlopen(url) #get the html of the page

In [3]:
soup = BeautifulSoup(html,'lxml') #create a beauifulsoup object
type(soup)

bs4.BeautifulSoup

In [4]:
#Get title
title = soup.title
print(title)

<title>List of postal codes of Canada: M - Wikipedia</title>

In [5]:
#Print the text
text = soup.get_text()
#print(text)

In [6]:
#soup.find_all('a')# Examples of useful tags include < a > for hyperlinks, 
                  #< table > for tables,
                  #< tr > for table rows,
                  #< th > for table headers, 
                  #< td > for table cells.

In [7]:
all_links = soup.find_all("a")
#for link in all_links:
#    print(link.get("href"))

In [8]:
#find all row of the table  with find_all < tr > for table rows

rows = soup.find_all("tr")

print(rows[:10])

[<tr>
<th>Postcode</th>
<th>Borough</th>
<th>Neighbourhood
</th></tr>, <tr>
<td>M1A</td>
<td>Not assigned</td>
<td>Not assigned
</td></tr>, <tr>
<td>M2A</td>
<td>Not assigned</td>
<td>Not assigned
</td></tr>, <tr>
<td>M3A</td>
<td><a href="/wiki/North_York" title="North York">North York</a></td>
<td><a href="/wiki/Parkwoods" title="Parkwoods">Parkwoods</a>
</td></tr>, <tr>
<td>M4A</td>
<td><a href="/wiki/North_York" title="North York">North York</a></td>
<td><a href="/wiki/Victoria_Village" title="Victoria Village">Victoria Village</a>
</td></tr>, <tr>
<td>M5A</td>
<td><a href="/wiki/Downtown_Toronto" title="Downtown Toronto">Downtown Toronto</a></td>
<td><a href="/wiki/Harbourfront_(Toronto)" title="Harbourfront (Toronto)">Harbourfront</a>
</td></tr>, <tr>
<td>M5A</td>
<td><a href="/wiki/Downtown_Toronto" title="Downtown Toronto">Downtown Toronto</a></td>
<td><a href="/wiki/Regent_Park" title="Regent Park">Regent Park</a>
</td></tr>, <tr>
<td>M6A</td>
<td><a href="/wiki/North_York" title="North York">North York</a></td>
<td><a href="/wiki/Lawrence_Heights" title="Lawrence Heights">Lawrence Heights</a>
</td></tr>, <tr>
<td>M6A</td>
<td><a href="/wiki/North_York" title="North York">North York</a></td>
<td><a href="/wiki/Lawrence_Manor" title="Lawrence Manor">Lawrence Manor</a>
</td></tr>, <tr>
<td>M7A</td>
<td><a href="/wiki/Queen%27s_Park_(Toronto)" title="Queen's Park (Toronto)">Queen's Park</a></td>
<td>Not assigned
</td></tr>]

In [9]:
#get table row

for row in rows:
    row_td = row.find_all("td")
print(row_td)
type(row_td)

[<td align="center" style="border: 1px solid #FF0000; background-color: #FFE0E0; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_A" title="List of postal codes of Canada: A">A</a>
</td>, <td align="center" style="border: 1px solid #FF4000; background-color: #FFE8E0; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_B" title="List of postal codes of Canada: B">B</a>
</td>, <td align="center" style="border: 1px solid #FF8000; background-color: #FFF0E0; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_C" title="List of postal codes of Canada: C">C</a>
</td>, <td align="center" style="border: 1px solid #FFC000; background-color: #FFF8E0; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_E" title="List of postal codes of Canada: E">E</a>
</td>, <td align="center" style="border: 1px solid #FFFF00; background-color: #FFFFE0; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_G" title="List of postal codes of Canada: G">G</a>
</td>, <td align="center" style="border: 1px solid #C0FF00; background-color: #F8FFE0; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_H" title="List of postal codes of Canada: H">H</a>
</td>, <td align="center" style="border: 1px solid #80FF00; background-color: #F0FFE0; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_J" title="List of postal codes of Canada: J">J</a>
</td>, <td align="center" style="border: 1px solid #00FF00; background-color: #E0FFE0; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_K" title="List of postal codes of Canada: K">K</a>
</td>, <td align="center" style="border: 1px solid #00FF80; background-color: #E0FFF0; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_L" title="List of postal codes of Canada: L">L</a>
</td>, <td align="center" style="border: 1px solid #E0FFF8; background-color: #00FFC0; font-size: 135%; color: black;" width="5%"><a class="mw-selflink selflink">M</a>
</td>, <td align="center" style="border: 1px solid #00FFE0; background-color: #E0FFFC; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_N" title="List of postal codes of Canada: N">N</a>
</td>, <td align="center" style="border: 1px solid #00FFFF; background-color: #E0FFFF; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_P" title="List of postal codes of Canada: P">P</a>
</td>, <td align="center" style="border: 1px solid #00C0FF; background-color: #E0F8FF; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_R" title="List of postal codes of Canada: R">R</a>
</td>, <td align="center" style="border: 1px solid #0080FF; background-color: #E0F0FF; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_S" title="List of postal codes of Canada: S">S</a>
</td>, <td align="center" style="border: 1px solid #0040FF; background-color: #E0E8FF; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_T" title="List of postal codes of Canada: T">T</a>
</td>, <td align="center" style="border: 1px solid #0000FF; background-color: #E0E0FF; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_V" title="List of postal codes of Canada: V">V</a>
</td>, <td align="center" style="border: 1px solid #A000FF; background-color: #E8E0FF; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_X" title="List of postal codes of Canada: X">X</a>
</td>, <td align="center" style="border: 1px solid #FF00FF; background-color: #FFE0FF; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_Y" title="List of postal codes of Canada: Y">Y</a>
</td>]

bs4.element.ResultSet

In [10]:
str_cells = str(row_td) #converts value into a string
cleantext = BeautifulSoup(str_cells, "lxml").get_text() #extract the text
print(cleantext)

[A
, B
, C
, E
, G
, H
, J
, K
, L
, M
, N
, P
, R
, S
, T
, V
, X
, Y
]

In [11]:
#the characters inside the < td > html tags and replace them with an empty string for each table row.
import re

list_rows = []
for row in rows:
    cells = row.find_all('td')
    str_cells = str(cells)
    clean = re.compile('<.*?>') #match every character inside the brackets.
    clean2 = (re.sub(clean, '',str_cells)) #find all substring where the regular expression is matched.
    list_rows.append(clean2)
print(clean2,'\n',list_rows)
type(clean2)

[A
, B
, C
, E
, G
, H
, J
, K
, L
, M
, N
, P
, R
, S
, T
, V
, X
, Y
]
 ['[]', '[M1A, Not assigned, Not assigned\n]', '[M2A, Not assigned, Not assigned\n]', '[M3A, North York, Parkwoods\n]', '[M4A, North York, Victoria Village\n]', '[M5A, Downtown Toronto, Harbourfront\n]', '[M5A, Downtown Toronto, Regent Park\n]', '[M6A, North York, Lawrence Heights\n]', '[M6A, North York, Lawrence Manor\n]', "[M7A, Queen's Park, Not assigned\n]", '[M8A, Not assigned, Not assigned\n]', '[M9A, Etobicoke, Islington Avenue\n]', '[M1B, Scarborough, Rouge\n]', '[M1B, Scarborough, Malvern\n]', '[M2B, Not assigned, Not assigned\n]', '[M3B, North York, Don Mills North\n]', '[M4B, East York, Woodbine Gardens\n]', '[M4B, East York, Parkview Hill\n]', '[M5B, Downtown Toronto, Ryerson\n]', '[M5B, Downtown Toronto, Garden District\n]', '[M6B, North York, Glencairn\n]', '[M7B, Not assigned, Not assigned\n]', '[M8B, Not assigned, Not assigned\n]', '[M9B, Etobicoke, Cloverdale\n]', '[M9B, Etobicoke, Islington\n]', '[M9B, Etobicoke, Martin Grove\n]', '[M9B, Etobicoke, Princess Gardens\n]', '[M9B, Etobicoke, West Deane Park\n]', '[M1C, Scarborough, Highland Creek\n]', '[M1C, Scarborough, Rouge Hill\n]', '[M1C, Scarborough, Port Union\n]', '[M2C, Not assigned, Not assigned\n]', '[M3C, North York, Flemingdon Park\n]', '[M3C, North York, Don Mills South\n]', '[M4C, East York, Woodbine Heights\n]', '[M5C, Downtown Toronto, St. James Town\n]', '[M6C, York, Humewood-Cedarvale\n]', '[M7C, Not assigned, Not assigned\n]', '[M8C, Not assigned, Not assigned\n]', '[M9C, Etobicoke, Bloordale Gardens\n]', '[M9C, Etobicoke, Eringate\n]', '[M9C, Etobicoke, Markland Wood\n]', '[M9C, Etobicoke, Old Burnhamthorpe\n]', '[M1E, Scarborough, Guildwood\n]', '[M1E, Scarborough, Morningside\n]', '[M1E, Scarborough, West Hill\n]', '[M2E, Not assigned, Not assigned\n]', '[M3E, Not assigned, Not assigned\n]', '[M4E, East Toronto, The Beaches\n]', '[M5E, Downtown Toronto, Berczy Park\n]', '[M6E, York, Caledonia-Fairbanks\n]', '[M7E, Not assigned, Not assigned\n]', '[M8E, Not assigned, Not assigned\n]', '[M9E, Not assigned, Not assigned\n]', '[M1G, Scarborough, Woburn\n]', '[M2G, Not assigned, Not assigned\n]', '[M3G, Not assigned, Not assigned\n]', '[M4G, East York, Leaside\n]', '[M5G, Downtown Toronto, Central Bay Street\n]', '[M6G, Downtown Toronto, Christie\n]', '[M7G, Not assigned, Not assigned\n]', '[M8G, Not assigned, Not assigned\n]', '[M9G, Not assigned, Not assigned\n]', '[M1H, Scarborough, Cedarbrae\n]', '[M2H, North York, Hillcrest Village\n]', '[M3H, North York, Bathurst Manor\n]', '[M3H, North York, Downsview North\n]', '[M3H, North York, Wilson Heights\n]', '[M4H, East York, Thorncliffe Park\n]', '[M5H, Downtown Toronto, Adelaide\n]', '[M5H, Downtown Toronto, King\n]', '[M5H, Downtown Toronto, Richmond\n]', '[M6H, West Toronto, Dovercourt Village\n]', '[M6H, West Toronto, Dufferin\n]', '[M7H, Not assigned, Not assigned\n]', '[M8H, Not assigned, Not assigned\n]', '[M9H, Not assigned, Not assigned\n]', '[M1J, Scarborough, Scarborough Village\n]', '[M2J, North York, Fairview\n]', '[M2J, North York, Henry Farm\n]', '[M2J, North York, Oriole\n]', '[M3J, North York, Northwood Park\n]', '[M3J, North York, York University\n]', '[M4J, East York, East Toronto\n]', '[M5J, Downtown Toronto, Harbourfront East\n]', '[M5J, Downtown Toronto, Toronto Islands\n]', '[M5J, Downtown Toronto, Union Station\n]', '[M6J, West Toronto, Little Portugal\n]', '[M6J, West Toronto, Trinity\n]', '[M7J, Not assigned, Not assigned\n]', '[M8J, Not assigned, Not assigned\n]', '[M9J, Not assigned, Not assigned\n]', '[M1K, Scarborough, East Birchmount Park\n]', '[M1K, Scarborough, Ionview\n]', '[M1K, Scarborough, Kennedy Park\n]', '[M2K, North York, Bayview Village\n]', '[M3K, North York, CFB Toronto\n]', '[M3K, North York, Downsview East\n]', '[M4K, East Toronto, The Danforth West\n]', '[M4K, East Toronto, Riverdale\n]', '[M5K, Downtown Toronto, Design Exchange\n]', '[M5K, Downtown Toronto, Toronto Dominion Centre\n]', '[M6K, West Toronto, Brockton\n]', '[M6K, West Toronto, Exhibition Place\n]', '[M6K, West Toronto, Parkdale Village\n]', '[M7K, Not assigned, Not assigned\n]', '[M8K, Not assigned, Not assigned\n]', '[M9K, Not assigned, Not assigned\n]', '[M1L, Scarborough, Clairlea\n]', '[M1L, Scarborough, Golden Mile\n]', '[M1L, Scarborough, Oakridge\n]', '[M2L, North York, Silver Hills\n]', '[M2L, North York, York Mills\n]', '[M3L, North York, Downsview West\n]', '[M4L, East Toronto, The Beaches West\n]', '[M4L, East Toronto, India Bazaar\n]', '[M5L, Downtown Toronto, Commerce Court\n]', '[M5L, Downtown Toronto, Victoria Hotel\n]', '[M6L, North York, Maple Leaf Park\n]', '[M6L, North York, North Park\n]', '[M6L, North York, Upwood Park\n]', '[M7L, Not assigned, Not assigned\n]', '[M8L, Not assigned, Not assigned\n]', '[M9L, North York, Humber Summit\n]', '[M1M, Scarborough, Cliffcrest\n]', '[M1M, Scarborough, Cliffside\n]', '[M1M, Scarborough, Scarborough Village West\n]', '[M2M, North York, Newtonbrook\n]', '[M2M, North York, Willowdale\n]', '[M3M, North York, Downsview Central\n]', '[M4M, East Toronto, Studio District\n]', '[M5M, North York, Bedford Park\n]', '[M5M, North York, Lawrence Manor East\n]', '[M6M, York, Del Ray\n]', '[M6M, York, Keelesdale\n]', '[M6M, York, Mount Dennis\n]', '[M6M, York, Silverthorn\n]', '[M7M, Not assigned, Not assigned\n]', '[M8M, Not assigned, Not assigned\n]', '[M9M, North York, Emery\n]', '[M9M, North York, Humberlea\n]', '[M1N, Scarborough, Birch Cliff\n]', '[M1N, Scarborough, Cliffside West\n]', '[M2N, North York, Willowdale South\n]', '[M3N, North York, Downsview Northwest\n]', '[M4N, Central Toronto, Lawrence Park\n]', '[M5N, Central Toronto, Roselawn\n]', '[M6N, York, The Junction North\n]', '[M6N, York, Runnymede\n]', '[M7N, Not assigned, Not assigned\n]', '[M8N, Not assigned, Not assigned\n]', '[M9N, York, Weston\n]', '[M1P, Scarborough, Dorset Park\n]', '[M1P, Scarborough, Scarborough Town Centre\n]', '[M1P, Scarborough, Wexford Heights\n]', '[M2P, North York, York Mills West\n]', '[M3P, Not assigned, Not assigned\n]', '[M4P, Central Toronto, Davisville North\n]', '[M5P, Central Toronto, Forest Hill North\n]', '[M5P, Central Toronto, Forest Hill West\n]', '[M6P, West Toronto, High Park\n]', '[M6P, West Toronto, The Junction South\n]', '[M7P, Not assigned, Not assigned\n]', '[M8P, Not assigned, Not assigned\n]', '[M9P, Etobicoke, Westmount\n]', '[M1R, Scarborough, Maryvale\n]', '[M1R, Scarborough, Wexford\n]', '[M2R, North York, Willowdale West\n]', '[M3R, Not assigned, Not assigned\n]', '[M4R, Central Toronto, North Toronto West\n]', '[M5R, Central Toronto, The Annex\n]', '[M5R, Central Toronto, North Midtown\n]', '[M5R, Central Toronto, Yorkville\n]', '[M6R, West Toronto, Parkdale\n]', '[M6R, West Toronto, Roncesvalles\n]', '[M7R, Mississauga, Canada Post Gateway Processing Centre\n]', '[M8R, Not assigned, Not assigned\n]', '[M9R, Etobicoke, Kingsview Village\n]', '[M9R, Etobicoke, Martin Grove Gardens\n]', '[M9R, Etobicoke, Richview Gardens\n]', '[M9R, Etobicoke, St. Phillips\n]', '[M1S, Scarborough, Agincourt\n]', '[M2S, Not assigned, Not assigned\n]', '[M3S, Not assigned, Not assigned\n]', '[M4S, Central Toronto, Davisville\n]', '[M5S, Downtown Toronto, Harbord\n]', '[M5S, Downtown Toronto, University of Toronto\n]', '[M6S, West Toronto, Runnymede\n]', '[M6S, West Toronto, Swansea\n]', '[M7S, Not assigned, Not assigned\n]', '[M8S, Not assigned, Not assigned\n]', '[M9S, Not assigned, Not assigned\n]', '[M1T, Scarborough, Clarks Corners\n]', '[M1T, Scarborough, Sullivan\n]', "[M1T, Scarborough, Tam O'Shanter\n]", '[M2T, Not assigned, Not assigned\n]', '[M3T, Not assigned, Not assigned\n]', '[M4T, Central Toronto, Moore Park\n]', '[M4T, Central Toronto, Summerhill East\n]', '[M5T, Downtown Toronto, Chinatown\n]', '[M5T, Downtown Toronto, Grange Park\n]', '[M5T, Downtown Toronto, Kensington Market\n]', '[M6T, Not assigned, Not assigned\n]', '[M7T, Not assigned, Not assigned\n]', '[M8T, Not assigned, Not assigned\n]', '[M9T, Not assigned, Not assigned\n]', '[M1V, Scarborough, Agincourt North\n]', "[M1V, Scarborough, L'Amoreaux East\n]", '[M1V, Scarborough, Milliken\n]', '[M1V, Scarborough, Steeles East\n]', '[M2V, Not assigned, Not assigned\n]', '[M3V, Not assigned, Not assigned\n]', '[M4V, Central Toronto, Deer Park\n]', '[M4V, Central Toronto, Forest Hill SE\n]', '[M4V, Central Toronto, Rathnelly\n]', '[M4V, Central Toronto, South Hill\n]', '[M4V, Central Toronto, Summerhill West\n]', '[M5V, Downtown Toronto, CN Tower\n]', '[M5V, Downtown Toronto, Bathurst Quay\n]', '[M5V, Downtown Toronto, Island airport\n]', '[M5V, Downtown Toronto, Harbourfront West\n]', '[M5V, Downtown Toronto, King and Spadina\n]', '[M5V, Downtown Toronto, Railway Lands\n]', '[M5V, Downtown Toronto, South Niagara\n]', '[M6V, Not assigned, Not assigned\n]', '[M7V, Not assigned, Not assigned\n]', '[M8V, Etobicoke, Humber Bay Shores\n]', '[M8V, Etobicoke, Mimico South\n]', '[M8V, Etobicoke, New Toronto\n]', '[M9V, Etobicoke, Albion Gardens\n]', '[M9V, Etobicoke, Beaumond Heights\n]', '[M9V, Etobicoke, Humbergate\n]', '[M9V, Etobicoke, Jamestown\n]', '[M9V, Etobicoke, Mount Olive\n]', '[M9V, Etobicoke, Silverstone\n]', '[M9V, Etobicoke, South Steeles\n]', '[M9V, Etobicoke, Thistletown\n]', "[M1W, Scarborough, L'Amoreaux West\n]", '[M1W, Scarborough, Steeles West\n]', '[M2W, Not assigned, Not assigned\n]', '[M3W, Not assigned, Not assigned\n]', '[M4W, Downtown Toronto, Rosedale\n]', '[M5W, Downtown Toronto, Stn A PO Boxes 25 The Esplanade\n]', '[M6W, Not assigned, Not assigned\n]', '[M7W, Not assigned, Not assigned\n]', '[M8W, Etobicoke, Alderwood\n]', '[M8W, Etobicoke, Long Branch\n]', '[M9W, Etobicoke, Northwest\n]', '[M1X, Scarborough, Upper Rouge\n]', '[M2X, Not assigned, Not assigned\n]', '[M3X, Not assigned, Not assigned\n]', '[M4X, Downtown Toronto, Cabbagetown\n]', '[M4X, Downtown Toronto, St. James Town\n]', '[M5X, Downtown Toronto, First Canadian Place\n]', '[M5X, Downtown Toronto, Underground city\n]', '[M6X, Not assigned, Not assigned\n]', '[M7X, Not assigned, Not assigned\n]', '[M8X, Etobicoke, The Kingsway\n]', '[M8X, Etobicoke, Montgomery Road\n]', '[M8X, Etobicoke, Old Mill North\n]', '[M9X, Not assigned, Not assigned\n]', '[M1Y, Not assigned, Not assigned\n]', '[M2Y, Not assigned, Not assigned\n]', '[M3Y, Not assigned, Not assigned\n]', '[M4Y, Downtown Toronto, Church and Wellesley\n]', '[M5Y, Not assigned, Not assigned\n]', '[M6Y, Not assigned, Not assigned\n]', '[M7Y, East Toronto, Business Reply Mail Processing Centre 969 Eastern\n]', '[M8Y, Etobicoke, Humber Bay\n]', "[M8Y, Etobicoke, King's Mill Park\n]", '[M8Y, Etobicoke, Kingsway Park South East\n]', '[M8Y, Etobicoke, Mimico NE\n]', '[M8Y, Etobicoke, Old Mill South\n]', '[M8Y, Etobicoke, The Queensway East\n]', '[M8Y, Etobicoke, Royal York South East\n]', '[M8Y, Etobicoke, Sunnylea\n]', '[M9Y, Not assigned, Not assigned\n]', '[M1Z, Not assigned, Not assigned\n]', '[M2Z, Not assigned, Not assigned\n]', '[M3Z, Not assigned, Not assigned\n]', '[M4Z, Not assigned, Not assigned\n]', '[M5Z, Not assigned, Not assigned\n]', '[M6Z, Not assigned, Not assigned\n]', '[M7Z, Not assigned, Not assigned\n]', '[M8Z, Etobicoke, Kingsway Park South West\n]', '[M8Z, Etobicoke, Mimico NW\n]', '[M8Z, Etobicoke, The Queensway West\n]', '[M8Z, Etobicoke, Royal York South West\n]', '[M8Z, Etobicoke, South of Bloor\n]', '[M9Z, Not assigned, Not assigned\n]', '[]', '[\n, \n]', '[\n\n\nNL\n\nNS\n\nPE\n\nNB\n\nQC\n\nON\n\nMB\n\nSK\n\nAB\n\nBC\n\nNU/NT\n\nYT\n\n\nA\n\nB\n\nC\n\nE\n\nG\n\nH\n\nJ\n\nK\n\nL\n\nM\n\nN\n\nP\n\nR\n\nS\n\nT\n\nV\n\nX\n\nY\n\n, NL\n, NS\n, PE\n, NB\n, QC\n, ON\n, MB\n, SK\n, AB\n, BC\n, NU/NT\n, YT\n, A\n, B\n, C\n, E\n, G\n, H\n, J\n, K\n, L\n, M\n, N\n, P\n, R\n, S\n, T\n, V\n, X\n, Y\n]', '[NL\n, NS\n, PE\n, NB\n, QC\n, ON\n, MB\n, SK\n, AB\n, BC\n, NU/NT\n, YT\n]', '[A\n, B\n, C\n, E\n, G\n, H\n, J\n, K\n, L\n, M\n, N\n, P\n, R\n, S\n, T\n, V\n, X\n, Y\n]']

str

In [12]:
df = pd.DataFrame(list_rows) #conver to pandas DataFrame
df.head(10)

                                         0
0                                       []
1      [M1A, Not assigned, Not assigned\n]
2      [M2A, Not assigned, Not assigned\n]
3           [M3A, North York, Parkwoods\n]
4    [M4A, North York, Victoria Village\n]
5  [M5A, Downtown Toronto, Harbourfront\n]
6   [M5A, Downtown Toronto, Regent Park\n]
7    [M6A, North York, Lawrence Heights\n]
8      [M6A, North York, Lawrence Manor\n]
9      [M7A, Queen's Park, Not assigned\n]

In [13]:
df1 = df[0].str.split(',', expand=True) #split in multiple columns
df1.head()

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,[],None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,[M1A,Not assigned,Not assigned\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,[M2A,Not assigned,Not assigned\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,[M3A,North York,Parkwoods\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,[M4A,North York,Victoria Village\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [14]:
df1[0] = df1[0].str.strip('[') #remove the '[' from the 0 column
df1.head(10)

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,],None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,M1A,Not assigned,Not assigned\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,M2A,Not assigned,Not assigned\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,M3A,North York,Parkwoods\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,M4A,North York,Victoria Village\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
5,M5A,Downtown Toronto,Harbourfront\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
6,M5A,Downtown Toronto,Regent Park\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
7,M6A,North York,Lawrence Heights\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
8,M6A,North York,Lawrence Manor\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
9,M7A,Queen's Park,Not assigned\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [15]:
#Row names
col_labels = soup.find_all('th') # seek the table headers
col_labels

[<th>Postcode</th>, <th>Borough</th>, <th>Neighbourhood
 </th>, <th class="navbox-title" style="font-size:110%"><a href="/wiki/Postal_codes_in_Canada" title="Postal codes in Canada">Canadian postal codes</a>
 </th>]

In [16]:
header = []
col_str = str(col_labels)
cleantext2 = BeautifulSoup(col_str, "lxml").get_text()
header.append(cleantext2)
print(header)

['[Postcode, Borough, Neighbourhood\n, Canadian postal codes\n]']

In [17]:
df2 = pd.DataFrame(header)
df2.head()

                                                   0
0  [Postcode, Borough, Neighbourhood\n, Canadian ...

In [18]:
df3 = df2[0].str.split(',', expand=True) # split the header
df3.head()

           0         1                 2                          3
0  [Postcode   Borough   Neighbourhood\n   Canadian postal codes\n]

In [19]:
frames = [df3, df1] #join the header with the DataFrame

df4 = pd.concat(frames)
df4.head(10)

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,[Postcode,Borough,Neighbourhood\n,Canadian postal codes\n],NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,],None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,M1A,Not assigned,Not assigned\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,M2A,Not assigned,Not assigned\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,M3A,North York,Parkwoods\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,M4A,North York,Victoria Village\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
5,M5A,Downtown Toronto,Harbourfront\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
6,M5A,Downtown Toronto,Regent Park\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
7,M6A,North York,Lawrence Heights\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
8,M6A,North York,Lawrence Manor\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [20]:
df5 = df4.rename(columns=df4.iloc[0]) #assign the column names
df5.head()

,[Postcode,Borough,Neighbourhood,Canadian postal codes ],nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
0,[Postcode,Borough,Neighbourhood\n,Canadian postal codes\n],NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,],None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,M1A,Not assigned,Not assigned\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,M2A,Not assigned,Not assigned\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,M3A,North York,Parkwoods\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [21]:
df5.info()
df5.shape

<class 'pandas.core.frame.DataFrame'>
Int64Index: 296 entries, 0 to 294
Data columns (total 31 columns):
[Postcode                   296 non-null object
 Borough                    294 non-null object
 Neighbourhood
             293 non-null object
 Canadian postal codes
]    4 non-null object
nan                         3 non-null object
nan                         3 non-null object
nan                         3 non-null object
nan                         3 non-null object
nan                         3 non-null object
nan                         3 non-null object
nan                         3 non-null object
nan                         3 non-null object
nan                         2 non-null object
nan                         2 non-null object
nan                         2 non-null object
nan                         2 non-null object
nan                         2 non-null object
nan                         2 non-null object
nan                         1 non-null object
nan                         1 non-null object
nan                         1 non-null object
nan                         1 non-null object
nan                         1 non-null object
nan                         1 non-null object
nan                         1 non-null object
nan                         1 non-null object
nan                         1 non-null object
nan                         1 non-null object
nan                         1 non-null object
nan                         1 non-null object
nan                         1 non-null object
dtypes: object(31)
memory usage: 74.0+ KB

(296, 31)

In [22]:
df6 = df5.drop(df5.index[0])
df6.head()

,[Postcode,Borough,Neighbourhood,Canadian postal codes ],nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1,M1A,Not assigned,Not assigned\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,M2A,Not assigned,Not assigned\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,M3A,North York,Parkwoods\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,M4A,North York,Victoria Village\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
5,M5A,Downtown Toronto,Harbourfront\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [23]:
df7 = df6.iloc[:,0:3] #change names of columns
df7.rename(columns={'[Postcode': 'Postcode'},inplace=True)
df7.rename(columns={' Borough': 'Borough'},inplace=True)
df7.rename(columns={' Neighbourhood\n': 'Neighbourhood'},inplace=True)
df7.columns

/home/jupyterlab/conda/lib/python3.6/site-packages/pandas/core/frame.py:4025: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

Index(['Postcode', 'Borough', 'Neighbourhood'], dtype='object')

In [24]:
df7['Neighbourhood'] = df7['Neighbourhood'].str.strip('\n]') #clean the name
df7.head()

/home/jupyterlab/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

  Postcode            Borough      Neighbourhood
1      M1A       Not assigned       Not assigned
2      M2A       Not assigned       Not assigned
3      M3A         North York          Parkwoods
4      M4A         North York   Victoria Village
5      M5A   Downtown Toronto       Harbourfront

In [25]:
df7.tail(10) #check last values

,Postcode,Borough,Neighbourhood
285,M8Z,Etobicoke,Mimico NW
286,M8Z,Etobicoke,The Queensway West
287,M8Z,Etobicoke,Royal York South West
288,M8Z,Etobicoke,South of Bloor
289,M9Z,Not assigned,Not assigned
290,],None,None
291,\n,\n],None
292,\n\n\nNL\n\nNS\n\nPE\n\nNB\n\nQC\n\nON\n\nMB\n...,NL\n,NS
293,NL\n,NS\n,PE
294,A\n,B\n,C

In [26]:
df8 = df7.iloc[0:289,] #drop unwanted values

In [27]:
df9 = df8.replace(" Not assigned",np.nan) #Replace not assigned with nas

In [28]:
df9.columns

Index(['Postcode', 'Borough', 'Neighbourhood'], dtype='object')

In [29]:
dfna = df9.isna() #drop columns with 'Borough' and 'Neighbourhood missing'
index = pd.Series(dfna.iloc[:,1] & dfna.iloc[:,2])
df10 = df9[-index]
df10.reset_index(inplace = True)
df10.isna().sum()

index            0
Postcode         0
Borough          0
Neighbourhood    1
dtype: int64

In [30]:
df10 = df10.drop('index',axis = 1) #drop index

In [31]:
df10.iloc[6,2] = df10.iloc[6,1] #assign the value of Borough to the missing Neighbourhood
df10.head()

  Postcode            Borough      Neighbourhood
0      M3A         North York          Parkwoods
1      M4A         North York   Victoria Village
2      M5A   Downtown Toronto       Harbourfront
3      M5A   Downtown Toronto        Regent Park
4      M6A         North York   Lawrence Heights

In [32]:
pc = pd.DataFrame(df10.iloc[:,0].value_counts()) #Select postcode with multiple neighbourhoods
pc.reset_index(inplace = True)
pc.columns = ['Postcode','Count']
pc = pc[pc['Count'] > 1]
pc

   Postcode  Count
0       M8Y      8
1       M9V      8
2       M5V      7
3       M9B      5
4       M8Z      5
5       M4V      5
6       M6M      4
7       M1V      4
8       M9C      4
9       M9R      4
10      M5R      3
11      M1T      3
12      M6K      3
13      M8V      3
14      M1C      3
15      M1M      3
16      M5J      3
17      M5T      3
18      M2J      3
19      M1K      3
20      M3H      3
21      M1L      3
22      M8X      3
23      M6L      3
24      M1P      3
25      M1E      3
26      M5H      3
27      M1B      2
28      M6A      2
29      M2M      2
30      M4X      2
31      M5P      2
32      M5K      2
33      M5A      2
34      M4L      2
35      M6N      2
36      M5X      2
37      M4B      2
38      M4T      2
39      M6R      2
40      M1W      2
41      M5M      2
42      M5S      2
43      M3J      2
44      M5B      2
45      M6J      2
46      M1N      2
47      M3C      2
48      M4K      2
49      M8W      2
50      M6P      2
51      M1R      2
52      M6S      2
53      M6H      2
54      M2L      2
55      M9M      2
56      M3K      2
57      M5L      2

In [36]:
df11 = pd.DataFrame(df10.groupby(["Postcode","Borough"])["Neighbourhood"].apply(", ".join)) # join Neighbourhood with same Postcode
df11.reset_index(inplace = True)
df11

,Postcode,Borough,Neighbourhood
0,M1B,Scarborough,"Rouge, Malvern"
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union"
2,M1E,Scarborough,"Guildwood, Morningside, West Hill"
3,M1G,Scarborough,Woburn
4,M1H,Scarborough,Cedarbrae
5,M1J,Scarborough,Scarborough Village
6,M1K,Scarborough,"East Birchmount Park, Ionview, Kennedy Park"
7,M1L,Scarborough,"Clairlea, Golden Mile, Oakridge"
8,M1M,Scarborough,"Cliffcrest, Cliffside, Scarborough Village ..."
9,M1N,Scarborough,"Birch Cliff, Cliffside West"
10,M1P,Scarborough,"Dorset Park, Scarborough Town Centre, Wexfo..."
11,M1R,Scarborough,"Maryvale, Wexford"
12,M1S,Scarborough,Agincourt
13,M1T,Scarborough,"Clarks Corners, Sullivan, Tam O'Shanter"
14,M1V,Scarborough,"Agincourt North, L'Amoreaux East, Milliken,..."
15,M1W,Scarborough,"L'Amoreaux West, Steeles West"
16,M1X,Scarborough,Upper Rouge
17,M2H,North York,Hillcrest Village
18,M2J,North York,"Fairview, Henry Farm, Oriole"
19,M2K,North York,Bayview Village
20,M2L,North York,"Silver Hills, York Mills"
21,M2M,North York,"Newtonbrook, Willowdale"
22,M2N,North York,Willowdale South
23,M2P,North York,York Mills West
24,M2R,North York,Willowdale West
25,M3A,North York,Parkwoods
26,M3B,North York,Don Mills North
27,M3C,North York,"Flemingdon Park, Don Mills South"
28,M3H,North York,"Bathurst Manor, Downsview North, Wilson Hei..."
29,M3J,North York,"Northwood Park, York University"
...,...,...,...
73,M6C,York,Humewood-Cedarvale
74,M6E,York,Caledonia-Fairbanks
75,M6G,Downtown Toronto,Christie
76,M6H,West Toronto,"Dovercourt Village, Dufferin"
77,M6J,West Toronto,"Little Portugal, Trinity"
78,M6K,West Toronto,"Brockton, Exhibition Place, Parkdale Village"
79,M6L,North York,"Maple Leaf Park, North Park, Upwood Park"
80,M6M,York,"Del Ray, Keelesdale, Mount Dennis, Silvert..."
81,M6N,York,"The Junction North, Runnymede"
82,M6P,West Toronto,"High Park, The Junction South"
83,M6R,West Toronto,"Parkdale, Roncesvalles"
84,M6S,West Toronto,"Runnymede, Swansea"
85,M7A,Queen's Park,Queen's Park
86,M7R,Mississauga,Canada Post Gateway Processing Centre
87,M7Y,East Toronto,Business Reply Mail Processing Centre 969 Eas...
88,M8V,Etobicoke,"Humber Bay Shores, Mimico South, New Toronto"
89,M8W,Etobicoke,"Alderwood, Long Branch"
90,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
91,M8Y,Etobicoke,"Humber Bay, King's Mill Park, Kingsway Park..."
92,M8Z,Etobicoke,"Kingsway Park South West, Mimico NW, The Qu..."
93,M9A,Etobicoke,Islington Avenue
94,M9B,Etobicoke,"Cloverdale, Islington, Martin Grove, Princ..."
95,M9C,Etobicoke,"Bloordale Gardens, Eringate, Markland Wood,..."
96,M9L,North York,Humber Summit
97,M9M,North York,"Emery, Humberlea"
98,M9N,York,Weston
99,M9P,Etobicoke,Westmount
100,M9R,Etobicoke,"Kingsview Village, Martin Grove Gardens, Ri..."
101,M9V,Etobicoke,"Albion Gardens, Beaumond Heights, Humbergat..."
102,M9W,Etobicoke,Northwest

In [37]:
df11.shape

(103, 3)